.detailContainer {
  margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataContainer {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    height: auto;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff50;
}

.stats_types {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  border-left: 0.1rem solid #d1cae74f;
}

.statsContainer {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    width: 12rem;
    height: 12rem;
    align-items: flex-start;
    margin: 1rem;
    justify-content: center;
    
}

.stats1 {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

.stats2 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.value {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.label {
    color: #d1cae7;
    text-transform: uppercase;
    font-weight: bold;
}

.dataContainer img {
    width: 15rem;
    height: 15rem;
    border-radius: 0.5rem;
    object-fit: contain;
    margin: 1rem;
    padding: 0.1rem;
  }

.detailContainer h2 {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
    color: #d1cae7;
    text-transform: uppercase;
  }

.typeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: rgba(245, 245, 245, 0.35);
    margin-right: 1rem;
    margin-left: 1rem;
    max-width: 140px;
  }

.typeContainer strong {
    display: inline-block;
    margin: 0.1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    text-transform: uppercase;
  }

  @media (max-width: 549px) {
    .stats_types{
      border-left: none;
      border-top: 0.1rem solid #d1cae74f;
    }
  }

.fire {
    background-color: #FD7D24;
    color: #FFFFFF;
  }
  
  .grass {
    background-color: #9BCC50;
    color: #212121;
  }
  
  .dragon {
    background-color: #455BE0;
    color: #FFFFFF;
  }
  
  .normal {
    background-color: whitesmoke;
    color: #212121;
  }
  
  .fighting {
    background-color: #e21b1b;
    color: #FFFFFF;
  }
  
  .poison {
    background-color: #B97FC9;
    color: #FFFFFF;
  }
  
  .flying {
    background-color: #88b7e0;
    color: #212121;
  }
  
  .rock {
    background-color: #AFA880;
    color: #FFFFFF;
  }
  
  .ground {
    background-color: #925127;
    color: #FFFFFF;
  }
  
  .bug {
    background-color: #729F3F;
    color: #FFFFFF;
  }
  
  .ghost {
    background-color: #7B62A3;
    color: #FFFFFF;
  }
  
  .steel {
    background-color: #9EB7B8;
    color: #212121;
  }
  
  .water {
    background-color: #007BEE;
    color: #FFFFFF;
  }
  
  .electric {
    background-color: #EED535;
    color: #212121;
  }
  
  .psychic {
    background-color: #F366B9;
    color: #FFFFFF;
  }
  
  .ice {
    background-color: #51C4E7;
    color: #212121;
  }
  
  .dark {
    background-color: #6d6d6d;
    color: #FFFFFF;
  }
  
  .fairy {
    background-color: #FDB9E9;
    color: #212121;
  }
  
  .unknown {
    background-color: whitesmoke;
    color: #212121;
  }
  
  .shadow {
    background-color: #4f4f4f;
    color: #FFFFFF;
  }