.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.typesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pairContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.typesContainer {
    margin-left: 2rem;
    margin-right: 2rem;
}

.label {
    color: whitesmoke;
}

.input {
    color: whitesmoke;
}

.typesInput {
    color: whitesmoke;
}