.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.formContent {
    display: flex;
    flex-wrap: wrap;
}

.typesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.pairContainer input {
    background-color: rgba(255, 255, 255, 0.295);
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem;
    color: whitesmoke;
}

.pairContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.label {
    color: whitesmoke;
}

.typesInput {
    color: whitesmoke;
}

.createButton {
    margin: 1rem;
    background-color: rgba(245, 245, 245, 0.658);
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: black;
    font-size: 0.9rem;
}

.createButton:hover {
    background-color: rgba(245, 245, 245, 0.411);
    color: whitesmoke;
}

.error {
    background-color: whitesmoke;
    color: rgba(255, 0, 0, 0.76);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeButton {
    margin: 1rem;
    background-color: rgba(245, 245, 245, 0.658);
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: black;
    font-size: 0.9rem;
}

.homeButton:hover {
    background-color: rgba(245, 245, 245, 0.411);
    color: whitesmoke;
}