/* SearchBar.module.css */

.searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px black;
    flex-wrap: wrap;
    background-color: #6f58bdb9;
  }

  @media (max-width: 414px) {
    .searchBarContainer {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  
  .searchInput {
    padding: 1rem;
    font-size: 16px;
    border-radius: 0.3rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: rgba(245, 245, 245, 0.658);
    border: none;
    font-size: 1rem;
  }

  input:focus {
    outline: none;
  }
  
  .searchButton,
  .showAllButton {
    background-color: rgba(245, 245, 245, 0.658);
    color: black;
    border: none;
    border-radius: 4px;
    padding: 1rem;
    margin: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .searchButton:hover,
  .showAllButton:hover {
    background-color: #1d1241bd;
    color: whitesmoke;
  }
  