.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3%;
  width: 100%;
  max-width: 250px; 
  padding: 0.7rem;
  margin: 1rem;
  background-color: #ffffff50;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease
}

.card:hover {
  transform: translateY(-0.3rem); /* Desplazamiento hacia arriba */ /* Color de fondo con opacidad */
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: none;
}

.card img {
  width: 12rem;
  height: 12rem; /* Ajustar la altura de la imagen para mantener la proporción */
  object-fit: contain;
}

.card h3 {
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.747);
}
  
.typeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.35);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.typeContainer strong {
  display: inline-block;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.fire {
  background-color: #FD7D24;
  color: #FFFFFF;
}

.grass {
  background-color: #9BCC50;
  color: #212121;
}

.dragon {
  background-color: #455BE0;
  color: #FFFFFF;
}

.normal {
  background-color: whitesmoke;
  color: #212121;
}

.fighting {
  background-color: #e21b1b;
  color: #FFFFFF;
}

.poison {
  background-color: #B97FC9;
  color: #FFFFFF;
}

.flying {
  background-color: #88b7e0;
  color: #212121;
}

.rock {
  background-color: #AFA880;
  color: #FFFFFF;
}

.ground {
  background-color: #925127;
  color: #FFFFFF;
}

.bug {
  background-color: #729F3F;
  color: #FFFFFF;
}

.ghost {
  background-color: #7B62A3;
  color: #FFFFFF;
}

.steel {
  background-color: #9EB7B8;
  color: #212121;
}

.water {
  background-color: #007BEE;
  color: #FFFFFF;
}

.electric {
  background-color: #EED535;
  color: #212121;
}

.psychic {
  background-color: #F366B9;
  color: #FFFFFF;
}

.ice {
  background-color: #51C4E7;
  color: #212121;
}

.dark {
  background-color: #6d6d6d;
  color: #FFFFFF;
}

.fairy {
  background-color: #FDB9E9;
  color: #212121;
}

.unknown {
  background-color: whitesmoke;
  color: #212121;
}

.shadow {
  background-color: #4f4f4f;
  color: #FFFFFF;
}